.navWiki {
    margin-top: 0vh;
    position: fixed;
}

.navindex{
    z-index: 10;
    position: fixed;
    height: 10vh;
}

.navSpan{
    display: none;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: $negro;
    border-bottom: 2px solid $dorado;

    .nav_logo{
        display: flex;
        width: 10%;
        height: 60%;
        background-image: url(../img/logo.png);
        @include bg-contain;
        transition: 0.3s;
  
        &:hover{
            filter: drop-shadow(0px 0px 10px $dorado);
        }
    }

    .nav_selectors_container{
        display: flex;
        align-items: center;
        width: 90%;
        height: 100%;

        .nav_selectors{
            display: flex;
            height: 100%;
            align-items: center;
            font-family: beaufort;
            color: $dorado;
            flex-grow: 1;

            a{
                @include flex-center;
                text-align: center;
                height: 100%;
                width: 100%;
                color: $dorado;
                text-decoration: none;
                font-size: 1.5rem;
                letter-spacing: 2px;
                transition: 0.3s;

                &:hover{
                    background-color: $dorado;
                    color: $negro;
                }
            }
        }
    }
}

@media (min-width:768px) {
    
    .navindex{
        height: 15vh;
    }
    
    .navIcon{
        display: none;
    }

    .navSpan{
        display: flex;
    }
}


@media (min-width:1024px) {
    
    .navindex{
        height: 15vh;
    }
    
    .navIcon{
        display: flex;
    }

    .navSpan{
        display: flex;
    }

    .navWiki{
        margin-top: -15vh;
        position: fixed;
    }

}