#skinsBody{
    background-color: $negro;
}

.skinsNav{
    margin-bottom: 5vh;
}


.skinsThresh{
    display: flex;
    width: 100%;
    background: rgb(26,27,29);
    background: linear-gradient(273deg, rgba(26,27,29,1) 6%, rgba(170,142,50,1) 95%);
}

.skinsLeona{
    display: flex;
    margin: auto;
    width: 100%;
    background: rgb(26,27,29);
    background: linear-gradient(90deg, rgba(26,27,29,1) 6%, rgba(170,142,50,1) 95%);
}

.skinsT{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: rgba(170,142,50,1);
    text-shadow: 3px 1px 1px black;
    font-family: beaufort;
}

.skinsT{
    display: flex;
    align-items: center;
    color: rgba(170,142,50,1);
    text-shadow: 3px 1px 1px black;
    font-family: beaufort;
}

.skinsT h2{
    color: #ffc971;
}

.skinsTdiv h3{
    font-weight: 100;
    font-style: italic;
}

.f-end{
    justify-content: flex-end;
    padding: 0;
}

.f-start{
    justify-content: flex-start;
    padding: 0;
}

.skinsTdiv{
    text-align: center;

}

.skinsTdivDirection1{
    transform: rotate(90deg);
}

.skinsTdivDirection2{
    transform: rotate(-90deg);
}

.divisor{
    background-image: url(../img/divisor.png);
    @include bg-cover;
    width: 100%;
    height: 10vh;
}