.navWiki {
  margin-top: 0vh;
  position: fixed;
}

.navindex {
  z-index: 10;
  position: fixed;
  height: 10vh;
}

.navSpan {
  display: none;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #1a1b1d;
  border-bottom: 2px solid #aa8e32;
}

.nav .nav_logo {
  display: flex;
  width: 10%;
  height: 60%;
  background-image: url(../img/logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.nav .nav_logo:hover {
  filter: drop-shadow(0px 0px 10px #aa8e32);
}

.nav .nav_selectors_container {
  display: flex;
  align-items: center;
  width: 90%;
  height: 100%;
}

.nav .nav_selectors_container .nav_selectors {
  display: flex;
  height: 100%;
  align-items: center;
  font-family: beaufort;
  color: #aa8e32;
  flex-grow: 1;
}

.nav .nav_selectors_container .nav_selectors a {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: #aa8e32;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 2px;
  transition: 0.3s;
}

.nav .nav_selectors_container .nav_selectors:hover {
  background-color: #aa8e32;
  color: #1a1b1d;
}

@media (min-width: 768px) {
  .navindex {
    height: 15vh;
  }
  .navIcon {
    display: none;
  }
  .navSpan {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .navindex {
    height: 15vh;
  }
  .navIcon {
    display: flex;
  }
  .navSpan {
    display: flex;
  }
  .navWiki {
    margin-top: -15vh;
    position: fixed;
  }
}

#wikiScroll {
  scroll-behavior: smooth;
}

#h1title {
  font-size: 3rem;
  border-bottom: 0px solid white;
}

.wikiback {
  background-image: url(../img/back.jpg);
  background-size: 40%;
}

.article_text p {
  font-size: 20px;
  line-height: 30px;
}

.article_text li {
  font-size: 20px;
  line-height: 30px;
}

.aside {
  display: none;
}

.article {
  margin-top: 0vh;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  width: 100vw;
  height: 100%;
  font-family: 'Space Grotesk', sans-serif;
  color: white;
  background-color: #1a1b1d;
  border-radius: 0;
}

.article .group {
  display: flex;
  flex-direction: column;
  margin: 5vh;
  margin-bottom: 0vh;
}

.article .group h1 {
  font-size: 2.5rem;
  width: 100%;
  border-bottom: 1px solid #aaaaaa;
  line-height: 50px;
}

.article .group .content {
  background-color: #3c3e41;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid white;
  width: 330px;
  height: 350px;
}

.article .group .content .content_title {
  display: flex;
  width: 100%;
  height: 15%;
  justify-content: flex-start;
  align-items: center;
}

.article .group .content .content_title h2 {
  margin: 0;
  padding-left: 5%;
  border-bottom: 1px solid white;
  width: 100%;
  line-height: 1.5em;
}

.article .group .content .content_subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 85%;
}

.article .group .content .content_subtitle ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 95%;
  margin: 0;
  padding: 0;
}

.article .group .content .content_subtitle ul li {
  width: 100%;
  height: 100%;
}

.article .group .content .content_subtitle ul li a {
  display: inline-block;
  border-radius: 5px;
  color: white;
  text-decoration-line: none;
  width: 100%;
  transition: 0.3s;
}

.article .group .content .content_subtitle ul li a:hover {
  background-color: #aa8e32;
}

.a_yellow {
  color: #ffc971;
  font-weight: bold;
  text-decoration-line: none;
  transition: 0.2s;
}

.a_yellow:hover {
  text-decoration-line: underline;
  color: #ffe0ac;
}

.wikiSpan {
  font-style: italic;
  color: #9e9e9e;
}

.ad {
  color: #ff8800;
}

.adcritchance {
  color: #ff7300;
}

.adcritdmg {
  color: #fd6e35;
}

.ap {
  color: #a0a0ff;
}

.man {
  color: #5c85c7;
}

.hp {
  color: #59c855;
}

.armor {
  color: #fbff00;
}

.mr {
  color: #ff0095;
}

.eng {
  color: #eef078;
}

@media (min-width: 1024px) {
  .article {
    display: flex;
    margin-top: 15vh;
    flex-direction: column;
    margin-left: 23%;
    width: 75%;
    height: 100%;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    background-color: #1a1b1d;
    border-radius: 20px;
  }
  .article_text p {
    font-size: 20px;
    line-height: 40px;
  }
  .article_text li {
    font-size: 20px;
    line-height: 40px;
  }
  .aside {
    margin-left: 2vw;
    display: flex;
    position: fixed;
    width: 20%;
    height: 80vh;
    background-color: #1a1b1d;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    border-radius: 20px;
  }
  .aside .aside_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .aside .aside_container .aside_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 11.1%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-self: center;
    border: 1px solid #aa8e32;
  }
  .aside .aside_container .aside_item a {
    display: flex;
    color: white;
    text-decoration-line: none;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    font-size: 20px;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
  }
  .aside .aside_container .aside_item a:hover {
    background-color: #aa8e32;
  }
  .aside .aside_container #aside_title {
    border: 0px solid #aa8e32;
    text-align: center;
  }
  .aside .aside_container #aside_item_bot {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.champselect_back {
  width: 100%;
  height: 100vh;
  background-color: rgba(26, 27, 29, 0.953);
  display: flex;
  flex-direction: column;
}

#championsGrid {
  display: grid;
  gap: 5px;
  width: 100%;
  height: 100%;
  grid-template-areas: "leonaContainer" "luluContainer" "threshContainer" "sennaContainer";
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 25% 25%;
}

#championsGrid #leonaContainer {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url(../img/leonawr.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  grid-area: leonaContainer;
}

#championsGrid #threshContainer {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(../img/threshwr.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  grid-area: threshContainer;
}

#championsGrid #luluContainer {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(../img/luluwr.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  grid-area: luluContainer;
}

#championsGrid #sennaContainer {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(../img/sennawr.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  grid-area: sennaContainer;
}

#championsGrid .champTexts {
  opacity: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#championsGrid .champTexts:hover {
  animation-name: textAppear;
}

#championsGrid .champTexts .champTextInv {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 75%;
}

#championsGrid .champTexts .champTextContainer {
  display: flex;
  background-color: #fff;
  width: 100%;
  height: 25%;
  justify-content: center;
  border-top: 2px solid #aa8e32;
  background-color: rgba(26, 27, 29, 0.953);
  color: #aa8e32;
  font-family: beaufort;
  font-size: 1.5rem;
  letter-spacing: 5px;
  transition: 0.5s;
}

@media (min-width: 1024px) {
  #championsGrid {
    grid-template-areas: "leonaContainer luluContainer" "threshContainer sennaContainer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #championsGrid #leonaContainer {
    background-position: center;
    grid-area: leonaContainer;
  }
  #championsGrid #threshContainer {
    background-position: center;
    grid-area: threshContainer;
  }
  #championsGrid #luluContainer {
    background-position: center;
    grid-area: luluContainer;
  }
  #championsGrid #sennaContainer {
    background-position: center;
    grid-area: sennaContainer;
  }
  .champTexts .champTextContainer {
    font-size: 1.4rem;
  }
}

.index_body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.index_body .index_container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: black;
}

.index_body .navindex {
  z-index: 10;
  position: fixed;
  height: 10vh;
}

#index_video {
  position: fixed;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
}

.index_play {
  display: flex;
  margin: auto;
  position: fixed;
  align-self: center;
  background-color: 26, 27, 29, 1;
  width: 80%;
  height: 25%;
  z-index: 20;
  background-image: url(../img/logoindex.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid #aa8e32;
  background-color: #1a1b1d;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.index_play:hover {
  animation-name: indexLogo;
}

@media (min-width: 768px) {
  .index_play {
    width: 50%;
    height: 30%;
  }
}

@media (min-width: 1024px) {
  .index_play {
    width: 40%;
    height: 30%;
  }
}

/* DISCOVER */
.discover_body {
  background-color: #1d1a1a;
}

.discoverContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5vh;
}

.discoverContainer .discoverTop {
  display: flex;
  justify-content: center;
  height: 60%;
  width: 100%;
}

.discoverContainer .discoverTop:hover {
  transform: scale(1.2);
  transition: 1s;
}

.discoverContainer .discoverBot {
  background: linear-gradient(0deg, rgba(26, 27, 29, 0.540004) 0%, 26, 27, 29, 1 76%);
  border-top: 1px solid #aa8e32;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  height: 40%;
  width: 100%;
  color: #bdac8b;
  font-family: beaufort;
  letter-spacing: 1px;
}

.discoverContainer .discoverBot h2 {
  margin: 0;
  padding: 0;
}

.discoverContainer .discoverBot .discoverBotTitle {
  display: flex;
}

.discoverContainer .discoverBot .discoverBotText {
  display: flex;
  width: 80%;
}

.discoverDemaciaContainer {
  background-image: url(../img/demaciaback.jpg);
}

.discoverNoxusContainer {
  background-image: url(../img/noxusback.jpg);
}

.discoverFreljordContainer {
  background-image: url(../img/freljordback.jpg);
}

.discoverPiltoverContainer {
  background-image: url(../img/piltoverback.jpg);
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .discoverContainer .discoverTop {
    height: 70%;
  }
  .discoverContainer .discoverBot {
    height: 30%;
    letter-spacing: 2px;
  }
  .discoverContainer .discoverBot .discoverBotText {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .discoverContainer .discoverTop {
    height: 75%;
  }
  .discoverContainer .discoverTop:hover {
    transform: scale(1.2);
    transition: 1s;
  }
  .discoverContainer .discoverBot {
    height: 25%;
    width: 100%;
    letter-spacing: 2px;
  }
  .discoverContainer .discoverBot .discoverBotText {
    width: 80%;
  }
}

.contact_body {
  background-color: #1a1b1d;
  width: 100%;
  height: 100%;
}

#contactNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #1a1b1d;
  border-bottom: 2px solid #aa8e32;
  grid-area: contactNav;
}

#contactForm {
  background-image: url(../img/contactformback.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: contactForm;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contactForm .contactFormContainer {
  display: flex;
  flex-direction: column;
  background-color: #1a1b1d;
  border: 1px solid #aa8e32;
  border-radius: 5px;
  width: 80%;
  height: 80%;
}

#contactForm .contactFormContainer .contactFormTitle {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  background-color: #1a1b1d;
  color: #aa8e32;
  font-family: beaufort;
  font-size: 1.6rem;
  border-bottom: 1px solid #aa8e32;
}

#contactForm .contactFormContainer .contactFormForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85%;
}

#contactForm .contactFormContainer .contactFormForm .contactFormText {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

#contactForm .contactFormContainer .contactFormForm .contactFormText .contactFormTextArea {
  display: flex;
  width: 80%;
  height: 60%;
}

#contactForm .contactFormContainer .contactFormForm .contactFormText .contactFormTextArea textarea {
  resize: none;
  width: 100%;
}

#contactForm .contactFormContainer .contactFormForm .contactFormText .contactFormTextInput {
  display: flex;
  justify-content: center;
  width: 100%;
}

#contactForm .contactFormContainer .contactFormForm .contactFormText .contactFormTextInput input {
  width: 50%;
}

#contactForm .contactFormContainer .contactFormForm .contactFormInputs {
  display: flex;
  height: 50%;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  border-right: 1px solid #aa8e32;
}

#contactForm .contactFormContainer .contactFormForm .contactFormInputs .contactFormInputsImg {
  display: none;
  background-image: url(../img/contactteemo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 40%;
  transition: 0.5s;
}

#contactForm .contactFormContainer .contactFormForm .contactFormInputs .contactFormInputsImg:hover {
  background-image: url(../img/contactteemo2.png);
}

#contactForm .contactFormContainer .contactFormForm .contactFormInputs .contactFormInputsInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60%;
}

#contactForm .contactFormContainer .contactFormForm .contactFormInputs .contactFormInputsInputs input {
  width: 70%;
}

#contactOptions {
  display: flex;
  flex-direction: column;
  grid-area: contactOptions;
}

#contactOptions .contactOptionsAnchors {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#contactOptions .contactOptionsAnchors .contactOptionsA {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  background-color: #1a1b1d;
}

#contactOptions .contactOptionsAnchors .contactOptionsA a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: beaufort;
  color: #aa8e32;
  font-size: 1.4rem;
  text-decoration: none;
  width: 100%;
  height: 100%;
  transition: 0.2s;
}

#contactOptions .contactOptionsAnchors .contactOptionsA a:hover {
  background-color: #aa8e32;
  color: #1a1b1d;
}

#contactOptions .contactOptionsAnchors p {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #423f3f;
  align-items: center;
  font-family: beaufort;
  color: #f5f1e2;
  font-size: 1.4rem;
  width: 100%;
  height: 100%;
}

#contactFooter {
  background-color: #1a1b1d;
  grid-area: contactFooter;
  border-top: 2px solid #aa8e32;
}

#contactGrid {
  background-color: #345071;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: "contactNav contactNav"  "contactForm contactForm" "contactOptions contactOptions";
  grid-template-columns: 8fr 2fr;
  grid-template-rows: 1fr 6fr 0.5fr;
}

@media (min-width: 1024px) {
  #contactForm .contactFormContainer .contactFormForm {
    flex-direction: row;
  }
  #contactForm .contactFormContainer .contactFormForm .contactFormText {
    width: 70%;
  }
  #contactForm .contactFormContainer .contactFormForm .contactFormText .contactFormTextArea {
    width: 80%;
    height: 60%;
  }
  #contactForm .contactFormContainer .contactFormForm .contactFormText .contactFormTextArea textarea {
    resize: none;
    width: 100%;
  }
  #contactForm .contactFormContainer .contactFormForm .contactFormText .contactFormTextInput {
    width: 100%;
  }
  #contactForm .contactFormContainer .contactFormForm .contactFormText .contactFormTextInput input {
    width: 50%;
  }
  #contactForm .contactFormContainer .contactFormForm .contactFormInputs {
    height: 100%;
    width: 30%;
  }
  #contactForm .contactFormContainer .contactFormForm .contactFormInputs .contactFormInputsImg {
    display: flex;
  }
  #contactForm .contactFormContainer .contactFormForm .contactFormInputs .contactFormInputsImg:hover {
    background-image: url(../img/contactteemo2.png);
  }
  #contactForm .contactFormContainer .contactFormForm .contactFormInputs .contactFormInputsInputs {
    width: 100%;
    height: 40%;
  }
  #contactForm .contactFormContainer .contactFormForm .contactFormInputs .contactFormInputsInputs input {
    width: 50%;
  }
  #contactOptions {
    display: flex;
    flex-direction: column;
    grid-area: contactOptions;
  }
  #contactGrid {
    background-color: #345071;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: "contactNav contactNav"  "contactForm contactOptions" "contactFooter contactFooter";
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 10vh 6fr 0.5fr;
  }
}

.payBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.payBody .payBack {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3rem;
  margin-top: 5vh;
  margin-left: 5vh;
  transition: 0.5s;
}

.payBody .payBack:hover {
  transform: scale(1.2);
}

.payBody .payTitle {
  margin-top: 5vh;
}

.payBody .payArticle {
  padding: 50px;
  background-image: url(../img/points.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #a50c0c;
}

.payBody .payArticle .payContainer {
  background-color: rgba(255, 255, 255, 0.814);
  width: 100%;
  height: 100%;
  display: grid;
  gap: 20px;
}

.payBody .payArticle .payContainer .row {
  gap: 20px;
}

.payBody .payArticle .payContainer .row .card img {
  width: 50%;
  height: 50%;
  justify-items: center;
  align-items: center;
  margin: auto;
}

.payBody .payFooter {
  width: 100%;
  height: 10vh;
  margin-top: 20vh;
  background-color: #545454;
  border-top: 2px solid red;
}

.btn {
  width: 100%;
}

#skinsBody {
  background-color: #1a1b1d;
}

.skinsNav {
  margin-bottom: 5vh;
}

.skinsThresh {
  display: flex;
  background: #1a1b1d;
  background: linear-gradient(273deg, #1a1b1d 6%, #aa8e32 95%);
}

.skinsLeona {
  display: flex;
  background: #1a1b1d;
  background: linear-gradient(90deg, #1a1b1d 6%, #aa8e32 95%);
}

.skinsT {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #aa8e32;
  text-shadow: 3px 1px 1px black;
  font-family: beaufort;
}

.skinsT {
  display: flex;
  align-items: center;
  color: #aa8e32;
  text-shadow: 3px 1px 1px black;
  font-family: beaufort;
}

.skinsT h2 {
  color: #ffc971;
}

.skinsTdiv h3 {
  font-weight: 100;
  font-style: italic;
}

.f-end {
  justify-content: flex-end;
}

.f-start {
  justify-content: flex-start;
}

.skinsTdiv {
  text-align: center;
}

.skinsTdivDirection1 {
  transform: rotate(90deg);
}

.skinsTdivDirection2 {
  transform: rotate(-90deg);
}

.skinsFooter {
  width: 100%;
  height: 5vh;
  border-top: 1px solid #aa8e32;
  margin-top: 5vh;
}

.divisor {
  background-image: url(../img/divisor.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 10vh;
}

@font-face {
  font-family: beaufort;
  src: url(font-face/beaufort.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes textAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes indexLogo {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
    background-color: #1a1b1d;
    border: 2px solid #aa8e32;
  }
  100% {
    transform: scale(1.5);
    background-color: rgba(26, 27, 29, 0);
    border: 2px solid rgba(170, 142, 50, 0);
  }
}
/*# sourceMappingURL=style.css.map */